{% extends 'base.template.html' %}
    {% block content %}
    <h1>ALL BOOKS</h1>
    <ul>
        {% for b in books %}
            <li>
            <a href="{% url 'book_details_route' book_id=b.id %}">{{b.title}}</a>
            <a href="{% url 'update_book_route' book_id=b.id %}">Edit</a>
            <a href="{% url 'delete_book_route' book_id=b.id %}">Delete</a>
            <a class="btn btn-primary" href="{% url 'add_to_cart_url' book_id=b.id %}"> Add to cart</a>
            </li>
        {% endfor %}
    </ul>
    {% endblock %}
